.Main {
	width: 100%;
    height: 100%;
}

#LivesBackLeft {
	vertical-align: top;
	horizontal-align: center;
	text-align: center;
	background-color: #DDD;
	width: 42px;
	height: 32px;
	margin-left: -72px;
	margin-top: 3px;
	color: #333333FF;
	font-size: 24px;
	font-weight: bold;
	border-radius: 1px;
	padding-top: 2px;
}
#LivesBackRight {
	vertical-align: top;
	horizontal-align: center;
	text-align: center;
	background-color: #DDD;
	width: 42px;
	height: 32px;
	margin-left: 145px;
	margin-top: 3px;
	color: #333333FF;
	font-size: 24px;
	font-weight: bold;
	border-radius: 1px;
	padding-top: 2px;
}